.art-nav{position:fixed;top:0;left:0;width:100%;}.art-nav li{margin-left:10px;display:inline;}.art-nav li a{color:#fff;padding-right:20px;font-family:Arial,Helvetica,sans-serif;font-weight:bolder;-webkit-text-decoration:none;text-decoration:none;text-shadow:3px 3px 3px #080b08,-2px -2px 3px #fff;}.litrgrid{list-style-type:none;width:30%;float:left;margin:1%;overflow:hidden;}.litrgrid a{text-decoration:none;}.imggrid{width:100%;}.imgdivgrid{width:100%;overflow:hidden;}

ul.art-hmenu a, ul.art-hmenu a:link, ul.art-hmenu a:visited, ul.art-hmenu a:hover 
{
   outline: none;
   position: relative;
   z-index: 11;
}

ul.art-hmenu, ul.art-hmenu ul
{
   display: block;
   margin: 0;
   padding: 0;
   border: 0;
   list-style-type: none;
}

ul.art-hmenu li
{
   position: relative;
   z-index: 5;
   display: block;
   float: left;
   background: none;
   margin: 0;
   padding: 0;
   border: 0;
}

ul.art-hmenu li:hover
{
   z-index: 10000;
   white-space: normal;
}

ul.art-hmenu:after, ul.art-hmenu ul:after
{
   content: ".";
   height: 0;
   display: block;
   visibility: hidden;
   overflow: hidden;
   clear: both;
}

ul.art-hmenu, ul.art-hmenu ul 
{
   min-height: 0;
}

ul.art-hmenu 
{
   display: inline-block;
   vertical-align: bottom;
   padding-left: 5px;
   padding-right: 5px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.art-nav:before 
{
   content:' ';
}

.desktop-nav.art-nav{
   min-width: 700px;
   max-width: 1920px;
   width: 100%;
   padding-left: 6px;
   padding-right: 6px;
}

.art-hmenu-extra1
{
   position: relative;
   display: block;
   float: left;
   width: auto;
   height: auto;
   background-position: center;
}

.art-hmenu-extra2
{
   position: relative;
   display: block;
   float: right;
   width: auto;
   height: auto;
   background-position: center;
}

.art-hmenu
{
   float: left;
}

.art-menuitemcontainer
{
   margin:0 auto;
}
ul.art-hmenu>li {
   margin-left: 4px;
}
ul.art-hmenu>li:first-child {
   margin-left: 2px;
}
ul.art-hmenu>li:last-child, ul.art-hmenu>li.last-child {
   margin-right: 2px;
}

ul.art-hmenu>li>a
{
   background: #2572B1;
   background: linear-gradient(top, #2C85CE 0, #1F5F93 100%) no-repeat;
   background: -webkit-linear-gradient(top, #2C85CE 0, #1F5F93 100%) no-repeat;
   background: -moz-linear-gradient(top, #2C85CE 0, #1F5F93 100%) no-repeat;
   background: -o-linear-gradient(top, #2C85CE 0, #1F5F93 100%) no-repeat;
   background: -ms-linear-gradient(top, #2C85CE 0, #1F5F93 100%) no-repeat;
   background: linear-gradient(top, #2C85CE 0, #1F5F93 100%) no-repeat;
   -svg-background: linear-gradient(top, #2C85CE 0, #1F5F93 100%) no-repeat;
   -webkit-border-radius:2px 2px 0 0;
   -moz-border-radius:2px 2px 0 0;
   border-radius:2px 2px 0 0;
   border:1px solid #1B517E;
   border-bottom:none;
   padding:0 22px;
   margin:0 auto;
   position: relative;
   display: block;
   height: 27px;
   cursor: pointer;
   text-decoration: none;
   color: #DADCDD;
   line-height: 27px;
   text-align: center;
}

.art-hmenu a, 
.art-hmenu a:link, 
.art-hmenu a:visited, 
.art-hmenu a.active, 
.art-hmenu a:hover
{
   font-size: 12px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

ul.art-hmenu>li>a.active
{
   background: #FFFFFF;
   background: linear-gradient(top, #FFFFFF 0, #CFD2D3 100%) no-repeat;
   background: -webkit-linear-gradient(top, #FFFFFF 0, #CFD2D3 100%) no-repeat;
   background: -moz-linear-gradient(top, #FFFFFF 0, #CFD2D3 100%) no-repeat;
   background: -o-linear-gradient(top, #FFFFFF 0, #CFD2D3 100%) no-repeat;
   background: -ms-linear-gradient(top, #FFFFFF 0, #CFD2D3 100%) no-repeat;
   background: linear-gradient(top, #FFFFFF 0, #CFD2D3 100%) no-repeat;
   -svg-background: linear-gradient(top, #FFFFFF 0, #CFD2D3 100%) no-repeat;
   -webkit-border-radius:2px 2px 0 0;
   -moz-border-radius:2px 2px 0 0;
   border-radius:2px 2px 0 0;
   border:1px solid #2572B1;
   border-bottom:none;
   padding:0 22px;
   margin:0 auto;
   color: #246DA8;
   padding-bottom: 1px;
   margin-bottom: -1px;
}

ul.art-hmenu>li>a:hover, .desktop ul.art-hmenu>li:hover>a
{
   background: #3D91D6;
   background: linear-gradient(top, #5BA2DC 0, #2D88D2 79%, #2A80C6 100%) no-repeat;
   background: -webkit-linear-gradient(top, #5BA2DC 0, #2D88D2 79%, #2A80C6 100%) no-repeat;
   background: -moz-linear-gradient(top, #5BA2DC 0, #2D88D2 79%, #2A80C6 100%) no-repeat;
   background: -o-linear-gradient(top, #5BA2DC 0, #2D88D2 79%, #2A80C6 100%) no-repeat;
   background: -ms-linear-gradient(top, #5BA2DC 0, #2D88D2 79%, #2A80C6 100%) no-repeat;
   background: linear-gradient(top, #5BA2DC 0, #2D88D2 79%, #2A80C6 100%) no-repeat;
   -svg-background: linear-gradient(top, #5BA2DC 0, #2D88D2 79%, #2A80C6 100%) no-repeat;
   -webkit-border-radius:2px 2px 0 0;
   -moz-border-radius:2px 2px 0 0;
   border-radius:2px 2px 0 0;
   border:1px solid #2572B1;
   border-bottom:none;
   padding:0 22px;
   margin:0 auto;
}
ul.art-hmenu>li>a:hover, 
.desktop-nav ul.art-hmenu>li:hover>a {
   color: #FFFFFF;
}
ul.art-hmenu>li>a.active:hover {
   padding-bottom: 0;
   margin-bottom: 0;
}

ul.art-hmenu li li a
{
   background: #3D91D6;
   padding:0 8px;
   margin:0 auto;
}
ul.art-hmenu li li 
{
   float: none;
   width: auto;
   margin-top: 0;
   margin-bottom: 0;
}

.desktop-nav ul.art-hmenu li li ul>li:first-child 
{
   margin-top: 0;
}

ul.art-hmenu li li ul>li:last-child 
{
   margin-bottom: 0;
}

.art-hmenu ul a
{
   display: block;
   white-space: nowrap;
   height: 23px;
   min-width: 7em;
   border: 0 solid transparent;
   text-align: left;
   line-height: 23px;
   color: #F2F3F3;
   font-size: 12px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   margin:0;
}

.art-hmenu ul a:link, 
.art-hmenu ul a:visited, 
.art-hmenu ul a.active, 
.art-hmenu ul a:hover
{
   text-align: left;
   line-height: 23px;
   color: #F2F3F3;
   font-size: 12px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   margin:0;
}

ul.art-hmenu ul li a:hover, .desktop ul.art-hmenu ul li:hover>a
{
   background: #6CACE0;
   margin:0 auto;
}

.art-hmenu ul li a:hover
{
   color: #000000;
}

.desktop-nav .art-hmenu ul li:hover>a
{
   color: #000000;
}

ul.art-hmenu ul:before
{
   background: #EFF2F5;
   margin:0 auto;
   display: block;
   position: absolute;
   content: ' ';
   z-index: 1;
}
.desktop-nav ul.art-hmenu li:hover>ul {
   visibility: visible;
   top: 100%;
}
.desktop-nav ul.art-hmenu li li:hover>ul {
   top: 0;
   left: 100%;
}

ul.art-hmenu ul
{
   visibility: hidden;
   position: absolute;
   z-index: 10;
   left: 0;
   top: 0;

}

.desktop-nav ul.art-hmenu>li>ul
{
   padding: 10px 30px 30px 30px;
   margin: -10px 0 0 -30px;
}

.desktop-nav ul.art-hmenu ul ul
{
   padding: 30px 30px 30px 10px;
   margin: -30px 0 0 -10px;
}

.desktop-nav ul.art-hmenu ul.art-hmenu-left-to-right 
{
   right: auto;
   left: 0;
   margin: -10px 0 0 -30px;
}

.desktop-nav ul.art-hmenu ul.art-hmenu-right-to-left 
{
   left: auto;
   right: 0;
   margin: -10px -30px 0 0;
}

.desktop-nav ul.art-hmenu li li:hover>ul.art-hmenu-left-to-right {
   right: auto;
   left: 100%;
}
.desktop-nav ul.art-hmenu li li:hover>ul.art-hmenu-right-to-left {
   left: auto;
   right: 100%;
}

.desktop-nav ul.art-hmenu ul ul.art-hmenu-left-to-right
{
   right: auto;
   left: 0;
   padding: 30px 30px 30px 10px;
   margin: -30px 0 0 -10px;
}

.desktop-nav ul.art-hmenu ul ul.art-hmenu-right-to-left
{
   left: auto;
   right: 0;
   padding: 30px 10px 30px 30px;
   margin: -30px -10px 0 0;
}

.desktop-nav ul.art-hmenu li ul>li:first-child {
   margin-top: 0;
}
.desktop-nav ul.art-hmenu li ul>li:last-child {
   margin-bottom: 0;
}

.desktop-nav ul.art-hmenu ul ul:before
{
   border-radius: 0;
   top: 30px;
   bottom: 30px;
   right: 30px;
   left: 10px;
}

.desktop-nav ul.art-hmenu>li>ul:before
{
   top: 10px;
   right: 30px;
   bottom: 30px;
   left: 30px;
}

.desktop-nav ul.art-hmenu>li>ul.art-hmenu-left-to-right:before {
   right: 30px;
   left: 30px;
}
.desktop-nav ul.art-hmenu>li>ul.art-hmenu-right-to-left:before {
   right: 30px;
   left: 30px;
}
.desktop-nav ul.art-hmenu ul ul.art-hmenu-left-to-right:before {
   right: 30px;
   left: 10px;
}
.desktop-nav ul.art-hmenu ul ul.art-hmenu-right-to-left:before {
   right: 10px;
   left: 30px;
}